@import './index.scss';

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: $xs) {
	.el-pager,
	.el-pagination__jump {
		display: none !important;
	}
}

.el-pagination {
	position: relative;
	justify-content: flex-end;
	padding: 2px;
}
