.fc-style {
  .el-main {
    padding: 0;
  }

  .el-dialog__header {
    border-bottom: 1px solid #ebeef5;
  }

  .el-dialog__body {
    padding: 15px 20px;
  }

  .el-dialog__footer {
    border-top: 1px solid #ebeef5;
    padding: 10px 15px;
  }

  .form-design-dialog-preview > .el-dialog__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .el-radio-group {
    vertical-align: super;
  }

  .el-rate {
    margin-top: 8px;
  }

  .el-slider {
    padding-left: 10px;
  }
  .widget-form-list {
    .el-checkbox__input {
      position: relative;
      top: 3px;
    }
  }

  .previewCheckbox {
    .el-checkbox__input {
      position: relative;
      top: 3px;
    }
  }

  .fc_label_attribute_options {
    .el-checkbox__inner {
      position: relative;
      top: 1px;
    }
  }
}
